autom4te.cache/
config.log
testing/autom4te.cache/
testing/config.log
configure~
testing/configure~

**/.libs/

*.la
*.lai
*.o
*.lo
*.a
*.so
*.so.*
*.dylib
*.dll
*.dll.*
*.pdb
*.exp
*.lib
*.pch
*.obj
*.ilk
*.manifest
*.gch
*.pyc
*.pyo
*.pyd



src/common/authr_common/authr_args.c
src/common/authr_common/authr_args.h
src/common/config_parser/parse_test
src/common/naming_common/naming_args.c
src/common/naming_common/naming_args.h
src/common/rpc_common/service_args.c
src/common/rpc_common/service_args.h
src/common/storage_common/ss_args.c
src/common/storage_common/ss_args.h
src/common/types/xdr_types.c
src/common/types/xdr_types.h
src/progs/lwfs-kill/kill_opts.c
src/progs/lwfs-kill/kill_opts.h
src/progs/lwfs-kill/lwfs-kill
src/progs/lwfs-kill/lwfs-tracing
src/progs/lwfs-kill/trace_opts.c
src/progs/lwfs-kill/trace_opts.h
src/progs/lwfs-nid/lwfs-nid
src/progs/lwfs-ping/lwfs-ping
src/progs/lwfs-ping/ping_opts.c
src/progs/lwfs-ping/ping_opts.h
src/server/authr_server/authr.db
src/server/authr_server/cmdline.c
src/server/authr_server/cmdline.h
src/server/authr_server/lwfs-authr
src/server/naming_server/cmdline.c
src/server/naming_server/cmdline.h
src/server/naming_server/lwfs-naming-server
src/server/storage_server/cmdline.c
src/server/storage_server/cmdline.h
src/server/storage_server/lwfs-ss
src/support/hashtable/hash_test
src/support/hashtable/hashtable_tester
src/support/hashtable/mt_hashtable_tester
src/support/logger/logger_test
src/support/ptl_uuid/ptl_uuid
src/support/threadpool/thread_pool_server


naming.db*
Makefile
Makefile.in
Makefile.am